<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>The Library App | Welcome to the world of books
                    <p class="lead"></p>
                </h1>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 style="text-align: center;">“One glance at a book and you hear the voice of another person, perhaps someone dead for 1,000 years. To read is to voyage through time.” </h3>
                    <h3 style="text-align: right;">– Carl Sagan</h3>
                    <br>
                    <br>
                </div>
            </div>
        </div>

    </div>
</div>